@charset "UTF-8";
/* CSS Document "general" */

body{
	padding-top: 63px;
}

/* Navbar */
.name_navbar{
	padding-top: 5px;
	/*font: arial;*/
	color: #6DBFCE;
	font-size: 18px;
}
.navbar-default{
	border-radius: 0px !important;
}
.links-navbar > a{
	color:#A9A9A9;
	cursor:pointer;
	text-align:center;
	background-color:transparent !important;
	padding:0px;
	margin-top:1px;
	padding-bottom:0px;
	margin-bottom:0px;	
}
.links-navbar > a:hover{
	color:#6DBFCE;
	
}
.links-navbar > a:active{
	color:#6DBFCE;
	
}
.icon-navbar{
	margin-top:1px;
	padding-bottom:0px;
	margin-bottom:0px;
}
.name_link{
	text-decoration: none;
	color: #6DBFCE; 
}
.logo_phd{
	width: 45px;
}
.name_link:hover{
	text-decoration: none;
	color: #6DBFCE; 
}
/* End Navbar */

/* Btn-primary */
.btn-primary{
	background-color:#6DBFCE !important;
	border-color:#68B7C8 !important;
	color: #ffffff !important;
}

.btn-primary:hover{
	background-color:#60A9B9 !important;
	border-color:#68B7C8 !important;
}

.btn-primary:active{
	background-color:#60A9B9 !important;
	border-color:#68B7C8 !important;
}

.btn-primary:focus{
	background-color:#60A9B9 !important;
	border-color:#68B7C8 !important;
}
/* End btn-primary */

/* Link-primary */
.link-primary{
	color: #A9A9A9;
}

.link-primary:hover{
	color: #6DBFCE;
	text-decoration: none;
}

.link-primary:active{
	color: #6DBFCE;
	text-decoration: none;
}

.link-primary:focus{
	color: #6DBFCE;
	text-decoration: none;
}
/* End link-primary */

/* Link-secondary */
.link-secondary{
	color: #666666;
}

.link-secondary:hover{
	color: #6DBFCE;
	text-decoration: none;
}

.link-secondary:active{
	color: #6DBFCE;
	text-decoration: none;
}

.link-secondary:focus{
	color: #6DBFCE;
	text-decoration: none;
}
/* End link-secundary */

hr{
	width: 80%;
}

/* Icon-link */
#icon-link:hover{
	color:#6DBFCE;
	cursor:pointer;
}
/* End icon-link */

.icon_normal{
	color: #A9A9A9
}

/* Map */
.custom_buttons_leaflet{
	position: absolute; 
	top: 4%; 
	left: 30%; 
	z-index: 999
}
.finish-map{
}

.width-buttons-map{
	padding-right: 0px; 
	padding-left: 0px;
	/*width: 75%*/
}

.dropdown-map {
    font-size: 12px;
    text-align: left;
    list-style: none;
}

.dropdown-map >li > a{
	display: block;
	padding: 5px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333;
	/*white-space: nowrap;*/
}
.dropdown-map > li > a:hover{
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5;
}
.dropdown-map> li > a:active{
	color: #262626;
	text-decoration: none;
	background-color: #f5f5f5; 
}

/* End Map */

/* Floats */
.no-float{
	clear: both;
}
.float-right{
	float:right;
}

.float-left{
	float:left;
}
/* End Floats */

.close-modal{
	margin-right: 15px; 
	margin-top: 10px; 
	margin-left: 10px;
}

/* Legend */

.legend{
	width: 500px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px 15px;
}
.legend-name{
	float: left;
	margin-left: 5px;
}
.foo {
	float: left;
  	width: 15px;
  	height: 15px;
  	border: 1px solid rgba(0, 0, 0, .2);
}

.blue {
  	background: #ff0000;
}

.purple {
 	background: #4080ff;
}

.wine {
  	background: #00ff00;
}




/* MEDIAS */

@media (max-width:980px){
	.custom_buttons_leaflet{
		left: 25%;
		top: 2%;
	}
}
	
@media (max-width:970px){
	.width-buttons-map{
		width: 100%
	}
}
@media (max-width:768px){
	.custom_buttons_leaflet{
		left: 24%;
		top: 3%; 
	}
}

@media (max-width:767px){
	.name_navbar{
		padding-top: 5px;
		font-size: 14px;
	}
	#logo_phd{
		width: 40px;
	}

	.custom_buttons_leaflet{
		top: 14%; 
	}
}


@media (max-width:600px){

	.custom_buttons_leaflet{
		top: 5%; 
	}
}

@media (max-width:480px){

	.custom_buttons_leaflet{
		top: 14%; 
	}
	.legend{
	width: 200px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 5px 15px;
	}
}


@media (max-width:360px){
	.custom_buttons_leaflet{
		top: 9%; 
	}
	
}
@media (max-width:330px){
	.custom_buttons_leaflet{
		left: 30%;
		top: 11%; 
	}


}






