@charset "UTF-8";
/* CSS Document "map1" */

/* Images */
#image_draw{
	width: auto;
	height: 200px;
}
#image_finish{
	width: auto;
	height: 70px;
}
#image_slider{
	width: auto;
	height: 100px;
}

/* Slider */
#ex1Slider .slider-selection {
	background: #A9A9A9;
}

.slider-handle.round{
	background: #6DBFCE !important;
}

/* Button drag&drop */
.button_drag{
	background-color: #f2f2f2;
	margin-right: 10px;
}

/* MEDIAS */

@media (max-width:360px){
	
	#image_draw{
		width: 250px;
		height: auto;
		margin-bottom: 15px;
	}
	#image_slider{
		width: 290px;
		height: auto;
		padding-right: 30px;
		margin-bottom: 15px;
	}
}





