@charset "UTF-8";
/* CSS Document General */

#logo_geoc{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}
#logo_marie{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}
#logo_nova{
	width: 100px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}
#logo_munster{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}
#logo_uji{
	width: 100px;
	margin-bottom: 20px;
	margin-right: 40px;
	margin-left: 40px;
}