@charset "UTF-8";
/* CSS Document "index" */

/* Problems freguesia */
.tematic-freguesia{
	padding-top:5px; 
	margin-left:0px; 
	padding-left:0px;
}

.icon-freguesia{
	padding:0px;
	text-align:center;
	color: #A9A9A9;
}
.icon-freguesia_new{
	padding-top:5px;
	text-align:center;
	color: #A9A9A9;
}

/* Images & logos */
#image_draw{
	width: auto;
	height: 200px;
}
#image_finish{
	width: auto;
	height: 70px;
}
#image_slider{
	width: auto;
	height: 100px;
}
#logo_camara{
	width: 70px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}

#logo_geoc{
	width: 100px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#logo_marie{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#logo_nova{
	width: 60px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#logo_munster{
	width: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
#logo_uji{
	width: 60px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
}
/* Modal change position */
/*.modal_draw{
	position: absolute;
	top: 319px;
	right: 270px;
	bottom: 0;
	left: 0;
	z-index: 10040;*/
	/* overflow: auto;
	overflow-y: auto; */
/*}
.modal_finish{
	position: absolute;
   	top: 600px;
   	right: 0;
   	bottom: 0;
   	left: 565px;
   	height: 370px;
   	z-index: 10040;*/
   	/*overflow: auto;
	overflow-y: auto;*/
/*}*/

/* Triangle pseudo-elements */
/*.tip {
	background: #eee;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	position: relative;
	width: 200px;
	margin-left: 20px;
}*/

/* arrows - :before and :after */
/*.tip:before {
	position: absolute;
	display: inline-block;
	border-top: 7px solid transparent;
	border-right: 7px solid #eee;
	border-bottom: 7px solid transparent;
	border-right-color: rgba(0, 0, 0, 0.2);
	left: -8px;
	top: 20px;
	content: '';
}*/

/*.tip:after {
	position: absolute;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 6px solid #eee;
	border-bottom: 6px solid transparent;
	left: -6px;
	top: 21px;
	content: '';
}*/
/* End Triangle pseudo-elements */
/* Triangle & rectangle modal draw */
/*.triangle_draw {
	width:0px; 
	height:0px; 
	border-top:20px solid transparent;  
	border-bottom:20px solid transparent;
	border-right:20px solid #fff; 
	position: absolute;
	top: 25px;
	right: 0;
	bottom: 0;
	left: -20px;
	z-index: 10040;
}
#rectangle_draw{
	width: 36px; 
	height: 66px; 
	background: transparent;
	border: 2px solid #6DBFCE;
	position: absolute;
	top: 12px;
	right: 0px;
	bottom: 0;
	left: -67px;
	z-index: 10040;
}
*/
/* Triangle & rectangle modal finish */
/*.triangle_finish {
	width:0px; 
	height:0px; 
	border-top:20px solid #fff; 
	border-right:20px solid transparent; 
	border-left:20px solid transparent; 
	position: absolute;
	top: 240px;
	right: 0;
	bottom: 0;
	left: 520px;
	z-index: 10040;
}
#rectangle_finish{
	width: 90px; 
	height: 50px; 
	background: transparent;
	border: 2px solid #6DBFCE;
	position: absolute;
	top: 277px;
	right: 0;
	bottom: 0;
	left: 508px;
	z-index: 10040;
}*/

/* MEDIAS */

@media (max-width:360px){
	/*.modal_draw{
		top: 0;
		right: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}
	.triangle_draw{
		display: none;
	}
	.rectangle_draw{
		display: none;
	}*/
	#image_draw{
		width: 250px;
		height: auto;
		margin-bottom: 15px;
	}
	#image_slider{
		width: 290px;
		height: auto;
		padding-right: 30px;
		margin-bottom: 15px;
	}
	/*.modal_finish{
   		top: 0;
   		left: 0;
   		height: auto;
   		width: 320px;
   		margin-left: -75px;
	}*/
}
/*@media (max-width:768px){
	.modal_draw{
		left: 4%;
	}

	#rectangle_draw{
		display: none;
	}
	#rectangle_finish{
		display: none;
	}	
}
@media (max-width:800px){
	.modal_draw{
		right: 3.5%;
	}
	.modal_finish{
		left: 22%;
	}
	#rectangle_finish{
		width: 92px;
	}
}
@media (min-width:980px){
	.modal_draw{
		right: 21.3%;
		top: 299px;
	}
	.modal_finish{
		left: 36.3%;
		top: 580px;
	}
	#rectangle_finish{
		width: 93px;
	}
}
@media (min-width:1280px){
	.modal_draw{
		right: 21.1%;
		height: 500px;
		top: 319px;
	}
	.modal_finish{
		left: 34.5%;
		top: 600px;
	}
}
@media (min-width:1920px){
	.modal_draw{
		right: 803px;
		top: 279px;
	}
	.modal_finish{
		left: 51.3%;
	}
}*/
